<h1>Listing users</h1>
<div class="row" style="color: blue;">
  <div class="col-md-2">Name</div>
  <div class="col-md-3">Email</div>
  <div class="col-md-3">Kindlemail</div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>        
</div>
<% @users.each do |user| %>
<div class="row">
  <div class="col-md-2"><%= user.name %></div>
  <div class="col-md-3"><%= user.email %></div>
  <div class="col-md-3"><%= user.kidlemail %></div>
  <div class="col-md-3" style="margin-top: 0.11em;">
    <div class="btn-group btn-group-xs">
      <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-info" %>
    </div>    
  </div>
</div>
<% end %>
